<div data-role="header">
	<h1>Home</h1>
</div>

<div data-role="content">
	<ul data-role="listview">
		<li><%= link_to "Home"      , root_path    %></li>
		<li><%= link_to "Contact us", contact_path %></li>
		<li><%= link_to "About us"  , about_path   %></li>
		<li><%= link_to "Help"      , help_path    %></li>
		<% if signed_in? %>
			<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
		<% else %>
		    <li><%= link_to "Sign in"   , signin_path  %></li>
			<li><%= link_to "Sign up"   , signup_path  %></li>
		<% end %>
	</ul>
</div>

<div data-role="footer">
	<h3><%= link_to "Home", root_path %></h3>
</div>